:root {
	--blanco: #ffffff;
	--oscuro: #212121;
	--primario: #ED2B2A;
	--secundario: #070A52;
	--terciario: #DBDEE5;
    --header-font: "DM Sans", sans-serif;
	--body-font: "Epilogue", sans-serif;
}


body {
	margin: 0;
	padding: 0;
	background-color: var(--terciario);
	font-family: var(--body-font);
	font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--oscuro);
    padding: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--oscuro);
    color: var(--blanco);
}

.signup {
    width: 20rem;
    height: 30rem;
    border-radius: 1rem;
    padding: 1rem;
    margin: 6% 38%;
    box-shadow: 0 0 10px #00000080;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    width: 90%;
    padding: 0.5rem;
    margin: 0.3rem 0;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--blanco);
    color: var(--oscuro);
    font-family: var(--body-font);
    font-weight: bold;
}

button {
    width: 90%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--primario);
    color: var(--blanco);
    font-family: var(--body-font);
    font-weight: bold;
    cursor: pointer;
}

.error-messages {
    list-style-type: none;
    padding: 0;
    margin: 0.5rem 0;
    color: red;
    font-size: 0.8rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--oscuro);
    color: var(--blanco);
    font-family: var(--body-font);
    font-weight: bold;
    width: 100%;
}